@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-container {
  border: 1px solid red;
  /* display: flex;
  flex-direction: column; */
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-links,
.right-links {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-links > li > a,
.right-links > li > a {
  text-decoration: none;
  color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-container .content {
  flex: 1 1 auto;
}

.footer {
  margin-top: auto;
  background: #eee;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
